/* comment section  */
body{
    font-family: Roboto;
}

#text{
    color:black;
    font-size: 16px;
    padding: 15px;
    background-color: white;
    border-radius: 30px;
    width: 500px;
    background-size: 30px;
    background-image: url("https://dzieciakwszkole.pl/pol_pl_Lupa-szkolna-szklo-powiekszajace-5x-srednica-7-5cm-13001_4.jpg");
    background-repeat: no-repeat;
    background-position: left 10px center;
    padding-left: 55px;
    border: 1px solid #ccc;
    outline: none;
}
#text:hover, #submit:hover, #luck:hover, #subimg:hover{
    border: 1px solid rgb(154, 150, 150);
}

#submit{
    margin-top: 25px;
}
.top{
    display: flex;
    justify-content: right;
    margin-inline: 0px;
    text-align: right;
}
.sub{
    font-size: 17px;
    border-radius: 10px;
    background-color: white;
    border-color: white;
    text-align: right;
    border:none;   
}
.sub:hover{
    font-weight:bold;
}
.top-left{
    margin-right:10px;
}
#googlelogo{
    margin-bottom: 30px;
    text-align:center;
    width: 300px;
}
.center{
    margin: 10px;
    padding: 0;
    height: 100%; 
    margin-top: 25vh;
    text-align: center;
}
form{
    display: inline-block;
}
#submit, #luck{
    font-size: 14px;
    background-color: rgb(250, 248, 248);
    border-radius: 5px;
    border: 1px solid white;
    padding: 15px;
}
#luck{
    margin-left: 10px;
}
#subimg{
    margin-top: 25px;
    border-radius: 10px;
    background-color: white;
    border-color: white;
    text-align: right;
    border:none;   
    font-size: 14px;
    background-color: rgb(250, 248, 248);
    border-radius: 5px;
    border: 1px solid white;
    padding: 15px;

}

